<h2>First Component Angular</h2>

<app-user-form></app-user-form>


<h3>Exemple FormBuilderList (FormBuilder, FormGroup, Validators)</h3>
<app-form-builder-list></app-form-builder-list>
<h3>Exemple Reactive Liste-courses (input/Submit), (FormsModule, ReactiveFormsModule, Validators)</h3>
<app-reactive-liste-courses></app-reactive-liste-courses>
<h3>Exemple Liste-courses (input/Submit)</h3>
<app-liste-course></app-liste-course>

<h3>Exemple bouton Menu</h3>
<app-bouton-menu></app-bouton-menu>

<h3>Exemple bouton générique</h3>
<app-bouton-generique
  boutonTexte="Ping"
  alertMessage="Pong"
></app-bouton-generique>
<app-bouton-generique
  boutonTexte="Marco"
  alertMessage="Polo"
></app-bouton-generique>
<app-bouton-generique
  boutonTexte="LOL"
  alertMessage="lol"
></app-bouton-generique>

<h3>Exemple Liste-filtre</h3>
<app-liste-filtre></app-liste-filtre>
<app-button></app-button>
<app-magie></app-magie>
<app-alert-button></app-alert-button>

<h3>Exemple component users</h3>
<app-users></app-users>

<h3>Exemple Liste</h3>
<app-liste></app-liste>
<router-outlet></router-outlet>
