header {
  align-items: center;
  text-align: center;
  background-color: dimgrey;
  height: 100 vw;
  padding: 15 vh;
  flex-wrap: wrap;
}

body {
  height: 100 vh;
  width: 100 vw;
  display : flex;
  justify-content: space-between;
}

main {
  display: flex;
  width: 100 px;
  height: 100 px;
  display : flex;
  justify-content: space-between;
}
}


.titre1 {
  background-color: rgb(205, 163, 85);
}


button{
    text-align: center;
    justify-items: right;
    display : flex;
    color: red;

}

.p {
  color: red;
}
